# macOS
.DS_Store

# Logs
logs
*.log

# Node version directives
.nvmrc

# Temporary change files created by Vim
*.swp

# vscode workspace
*.code-workspace

# git
.git

# MkDocs build output
site

# devhub-techdocs-publish build output
patcher.py
test_patcher.py
tmp/